/* H1 */
h1,
.h1 {
  font-size: 5rem;
  line-height: 1;
  font-weight: 300;
  margin-block: 0 0.15em;
  letter-spacing: -0.03em;
}

/* H2 */
h2,
.h2 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 300;
  margin-block: 0 0.5em;
  letter-spacing: -0.015em;
}

/* H3 */
h3,
.h3 {
  font-size: 1.75rem;
  font-weight: 300;
  margin-block: 0 0.5em;
}

/* H4 */
h4,
.h4 {
  font-size: 1rem;
}

/* H5 */
h5,
.h5 {
  font-size: 0.9rem;
}

/* H6 */
h6,
.h6 {
  font-size: 0.75rem;
}

/* Paragraph Large */
.p1 {
  font-size: 1.5rem;
  line-height: 1.3;
  margin-block: 1em;
  font-weight: lighter;
}

/* Paragraph */
.p2 {
  font-size: 1.25rem;
  font-weight: lighter;
}
