* {
  font-weight: 400;
}

/* H1 */
h1,
.h1 {
  font-size: 5rem;
  /* font-weight: 600; */
  line-height: 1;
  margin-block: 0 0.15em;
  letter-spacing: -0.02em;
}

/* H2 */
h2,
.h2 {
  font-size: 3rem;
  /* font-weight: 600; */
  line-height: 1;
  margin-block: 0 0.5em;
  letter-spacing: -0.02em;
}

/* H3 */
h3,
.h3 {
  font-size: 2rem;
  /* font-weight: 600; */
  margin-block: 0 0.5em;
  letter-spacing: -0.02em;
}

/* H4 */
h4,
.h4 {
  font-size: 1.5rem;
  margin-block: 0 0.5em;
}

/* H5 */
h5,
.h5 {
  font-size: 1rem;
  margin-block: 0 0.5em;
}

/* H6 */
h6,
.h6 {
  font-size: 0.9rem;
  margin-block: 0 0.5em;
}

/* Paragraph Large */
.p1 {
  font-size: 1.5rem;
  line-height: 1.3;
  margin-block: 0.5em 1em;
  letter-spacing: -0.02em;
}

/* Paragraph */
.p2 {
  font-size: 1.25rem;
  margin-block: 1em;
}
